[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-script = "*"
flask-cors = "*"
psycopg2-binary = "*"
flask-migrate = "*"
python-jose = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
